<form class="ui form">
  <h4 class="ui dividing header"> read Company</h4>
  <div class="field">
      <label>Company Name</label>
      <div class="field">
          <input type="text" name="title"readonly="" [(ngModel)]="this.company.compName">
      </div>
  </div>
  <div class="field">
    <label>password</label>
    <div class="field">
        <input type="text" name="password"readonly="" [(ngModel)]="this.company.password">
    </div>
</div>
<div class="field">
  <label>email</label>
  <div class="field">
      <input type="email"readonly="" name="title" [(ngModel)]="this.company.email">
  </div>
</div>
</form>